@charset "UTF-8";

// overrided variables

$color-primary-base: $blue-grey !default; //$blue-grey
$color-accent-base: $light-blue !default; //$light-blue

$color-primary: color($color-primary-base,900) !default;
