@charset "UTF-8";

@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/flexbox";
@import "breakpoint";

// !!! check path
@import "/var/www/html/epfl/sites/all/themes/material_base/sass/color-palette";
@import "variables";
@import "/var/www/html/epfl/sites/all/themes/material_base/sass/variables";
@import "/var/www/html/epfl/sites/all/themes/material_base/sass/modules";

// put your styles here
// you can @extend anything from base theme

h1, .h1 { font-family: $heading-font-family; font-size: 56px; line-height: 84px; margin-top: 16px; margin-bottom: 16px; }
